@media print {
    body {
        -webkit-print-color-adjust: exact; /* For Chrome, Safari, and Edge */
        print-color-adjust: exact;         /* Standard property for Firefox */
    }
}
.block{
    display: grid;
    grid-template-areas: "form_left square form_right";
    grid-template-columns: min-content max-content 1fr;
    justify-items: left;
}
.form_right {
    padding-left: 2mm;
    grid-area: form_right;
    display: grid;
    grid-template-areas: "text text color etc"
                         "labels inputs steering etc";
    grid-template-columns: min-content min-content max-content;
    grid-column-gap: 2mm;
    height: 22.25mm;
}
.labels{
    grid-area: labels;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
}
.inputs{
    grid-area: inputs;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.steering{
    grid-area: steering;
    text-align: center;
    align-self: center;
}
.etc{
    grid-area: etc;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-self: start;
    flex-wrap: wrap;
    min-height: 0;
    min-width: 0;

}
.color{
    grid-area: color;
    align-self: center;
    justify-self: center;
}
div.text{
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-self: center;
}
input.text{
    width:100%;
}
.form_left {
    grid-area: form_left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top.green{
    background-image: url('Images/Backgrounds/Top_Background_Green.png');
}
.top.yellow{
    background-image: url('Images/Backgrounds/Top_Background_Yellow.png');
}
.top.red{
    background-image: url('Images/Backgrounds/Top_Background_Red.png');
}
.top.black{
    background-image: url('Images/Backgrounds/Top_Background_Black.png');
}
.top {
    background-image: url('Images/Backgrounds/Top_Background_Green.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 32.25mm;
    width: 40mm;
    display: grid;
    grid-template-areas: "code modules modules"
                         "name modules modules"
                         "airplane navigation alarm"
                         "airplane center alarm"
                         "airplane future alarm";
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 0.7fr 0.6fr 1fr 1fr 1fr;
    border-radius: 2.5mm 2.5mm 0 0;
}
.square {
    grid-area: square;
    background-image: url('Images/Backgrounds/Square_background.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 22.5mm;
    width: 40mm;
    display: grid;
    grid-template-areas: "airplane navigation alarm"
                         "airplane center alarm"
                         "airplane future alarm";
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.bottom {
    background-image: url('Images/Backgrounds/Bottom_Background.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 24.8mm;
    width: 40mm;
    display: grid;
    grid-template-areas: "airplane navigation alarm"
                         "airplane center alarm"
                         "airplane future alarm";
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.37fr;
    border-radius: 0 0 2.5mm 2.5mm;
}
div.airplane{
    height: 100%;
    grid-area: airplane;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    padding: 2.5mm 0 2.5mm 2mm;
    justify-content: center;
    box-sizing: border-box;
}
img.airplane{
    width: 3.5mm;
    padding: 0.5mm;
}
img.navigation{
    width: 12mm;
    grid-area: navigation;
    justify-self: center;
    visibility: hidden;
}
input[type="checkbox"].navigation{
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    width: 5mm;
    height: 5mm;
    border: 0.75mm solid green;
    border-radius: 1mm;
}
input[type="checkbox"].navigation:checked{
    background-color: red;
    border: 0.15em solid red;
}
input[type="checkbox"].module{
    -webkit-appearance: none;
    appearance: none;
    width: 10mm;
    height: 10mm;
    border: 0.7mm solid black;
    border-radius: 2mm;
    background-color: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
input[type="checkbox"].module:checked{
    background-color: green;
    border: 0.7mm solid green;
}
input[type="radio"].color{
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    width: 5mm;
    height: 5mm;
    border: 0.75mm solid;
    border-radius: 50%;
}
input[type="radio"].color:checked{
    border: 0.15em solid;
    background-color: currentColor;
}
div.future{
    grid-area: future;
    align-content: center;
    justify-self: center;
    background-color: white;
    padding: 0.5mm 1.5mm 0 1.5mm;
    margin-bottom: 2.9mm !important;
    border-radius: 1mm 1mm 0 0;
    visibility: hidden;
}
img.future{
    width: 4mm;
    padding: 0 0.25mm 0 0.25mm;
    margin-bottom: -0.5mm
}
div.module{
    grid-area: modules;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 1mm;
}
img.module{
    max-height: 7mm;
    flex: 0 1 auto;
    min-width: 0;
    padding: 0 0.5mm 0 0.5mm;
    object-fit: contain;
    display: none
}
div.alarm{
    grid-area: alarm;
    padding: 3.5mm 2.5mm 3.5mm 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
img.alarm{
    max-width: 5mm;
    margin-bottom: 1mm;
}
.airport_code{
    color: white;
    font-family: "Werksatz", sans-serif;
    font-weight: 1000;
    font-size: 4mm;
    min-width: 0;
    padding: 1mm 0 0 1.5mm;
}
.airport_name{
    color: white;
    font-family: 'Werksatz', sans-serif;
    font-weight: 600;
    font-size: 2.5mm;
    min-width: 0;
    padding-left: 1.5mm;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: ".";
}