@media print {
    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}
html {
    /*font-size: 4px*/
}
.block{
    display: grid;
    grid-template-areas: "input_left square input_right";
    grid-template-columns: min-content max-content 1fr;
    justify-items: left;
}
.input_right {
    padding-left: 2rem;
    grid-area: input_right;
    display: grid;
    grid-template-areas: "text text color etc"
                         "labels inputs steering etc";
    grid-template-columns: min-content min-content max-content;
    grid-column-gap: 2rem;
    height: 22.25rem;
}
.labels{
    grid-area: labels;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
}
.inputs{
    grid-area: inputs;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.steering{
    grid-area: steering;
    text-align: center;
    align-self: center;
}
.etc{
    grid-area: etc;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-self: start;
    flex-wrap: wrap;
    min-height: 0;
    min-width: 0;

}
.color{
    grid-area: color;
    align-self: center;
    justify-self: center;
}
div.text{
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-self: center;
}
input.text{
    width:100%;
}
.input_left {
    grid-area: input_left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top.green{
    background-image: url('Images/Backgrounds/Top_Background_Green.png');
}
.top.yellow{
    background-image: url('Images/Backgrounds/Top_Background_Yellow.png');
}
.top.red{
    background-image: url('Images/Backgrounds/Top_Background_Red.png');
}
.top.black{
    background-image: url('Images/Backgrounds/Top_Background_Black.png');
}
.top {
    background-image: url('Images/Backgrounds/Top_Background_Green.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 32.25rem;
    width: 40rem;
    display: grid;
    grid-template-areas: "code modules modules"
                         "name modules modules"
                         "airplane navigation alarm"
                         "airplane center alarm"
                         "airplane future alarm";
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 0.7fr 0.6fr 1fr 1fr 1fr;
    border-radius: 2.5rem 2.5rem 0 0;
}
.square {
    grid-area: square;
    background-image: url('Images/Backgrounds/Square_background.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 22.5rem;
    width: 40rem;
    display: grid;
    grid-template-areas: "airplane navigation alarm"
                         "airplane center alarm"
                         "airplane future alarm";
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.bottom {
    background-image: url('Images/Backgrounds/Bottom_Background.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 24.8rem;
    width: 40rem;
    display: grid;
    grid-template-areas: "airplane navigation alarm"
                         "airplane center alarm"
                         "airplane future alarm";
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.37fr;
    border-radius: 0 0 2.5rem 2.5rem;
}
div.airplane{
    height: 100%;
    grid-area: airplane;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    padding: 2.5rem 0 2.5rem 2rem;
    justify-content: center;
    box-sizing: border-box;
}
img.airplane{
    width: 3.5rem;
    padding: 0.5rem;
}
img.navigation{
    width: 12rem;
    grid-area: navigation;
    justify-self: center;
    visibility: hidden;
}
input[type="checkbox"].navigation{
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    width: 5rem;
    height: 5rem;
    border: 0.75rem solid green;
    border-radius: 1rem;
}
input[type="checkbox"].navigation:checked{
    background-color: red;
    border: 0.15em solid red;
}
input[type="checkbox"].module{
    -webkit-appearance: none;
    appearance: none;
    width: 10rem;
    height: 10rem;
    border: 0.7rem solid black;
    border-radius: 2rem;
    background-color: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
input[type="checkbox"].module:checked{
    background-color: green;
    border: 0.7rem solid green;
}
input[type="radio"].color{
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    width: 5rem;
    height: 5rem;
    border: 0.75rem solid;
    border-radius: 50%;
}
input[type="radio"].color:checked{
    border: 0.15em solid;
    background-color: currentColor;
}
div.future{
    grid-area: future;
    align-content: center;
    justify-self: center;
    background-color: white;
    padding: 0.5rem 1.5rem 0 1.5rem;
    margin-bottom: 2.9rem !important;
    border-radius: 1rem 1rem 0 0;
    visibility: hidden;
}
img.future{
    width: 4rem;
    padding: 0 0.25rem 0 0.25rem;
    margin-bottom: -0.5rem
}
div.module{
    grid-area: modules;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}
img.module{
    max-height: 7rem;
    flex: 0 1 auto;
    min-width: 0;
    padding: 0 0.5rem 0 0.5rem;
    object-fit: contain;
    display: none
}
div.alarm{
    grid-area: alarm;
    padding: 3.5rem 2.5rem 3.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
img.alarm{
    max-width: 5rem;
    margin-bottom: 1rem;
}
.airport_code{
    color: white;
    font-family: "Werksatz", sans-serif;
    font-weight: 1000;
    font-size: 4rem;
    min-width: 0;
    padding: 1rem 0 0 1.5rem;
}
.airport_name{
    color: white;
    font-family: 'Werksatz', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    min-width: 0;
    padding-left: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: ".";
}